= simple_form_for category do |f|
  - if category.errors.any?
    = render partial: 'layouts/errors', locals: { object: category }
  .row
    .col.form-group
      .field
        = f.input :name, label: 'Nazwa:', input_html: { class: 'form-control' }
      .field
        = f.input :parent_id, collection: Category.all_but_current(category).without_parameters, as: :select, label: 'Kategoria rodzic', input_html: { class: 'form-control' }
      .text-center.mt-3
        %strong Parametry
        .row
          .col.text-center
            .btn-group.btn-group-toggle{ 'data-toggle':'buttons' }
              %label.btn.btn-primary{ id: 'inheritance_true_button' }
                = radio_button_tag 'inheritance', true, true
                Dziedziczenie
              %label.btn.btn-primary{ id: 'inheritance_false_button' }
                =radio_button_tag 'inheritance', false
                Wasne parametry
      #inheritance{ style: 'display: none;' }
        .row.mt-2
          .col-2
            Dziedzicz po:
          .col
            #inheritance_field
      #own_parameters{ style: 'display: none;' }
        = f.simple_fields_for :parameters do |parameter_form|
          = render 'parameter_fields', f: parameter_form
        .mt-2.text-center
          = link_to_add_association 'Dodaj parametr', f, :parameters, class: 'btn btn-sm btn-primary'
  %nav.navbar.row.actions
    = link_to 'Powrót', categories_path, class: 'btn btn-secondary'
    = f.button :submit, 'Wyślij', class: 'btn btn-primary'

