.conteiner
  = simple_form_for product do |f|
    - if product.errors.any?
      #error_explanation
        %h2
          = pluralize(product.errors.count, "error")
          prohibited this product from being saved:
        %ul
          - product.errors.full_messages.each do |message|
            %li= message
    = f.input :name, label: 'Nazwa:', input_html: { class: 'form-control' }
    = f.input :category_id, collection: Category.select(&:childless?), label: 'Kategoria', input_html: { class: 'form-control' }
    #product_values
    %nav.navbar.row.actions
      = link_to 'Powrót', products_path, class: 'btn btn-secondary'
      = f.submit 'Wyślij', class: 'btn btn-primary'
