.conteiner
  = simple_form_for product do |f|
    - if product.errors.any?
      = render partial: 'layouts/errors', locals: { object: product }
    = f.input :name, label: 'Nazwa:', input_html: { class: 'form-control' }
    = f.input :category_id, collection: Category.select(&:childless?), label: 'Kategoria', input_html: { class: 'form-control' }
    #product_values
    %nav.navbar.row.actions
      = link_to 'Powrót', products_path, class: 'btn btn-secondary'
      = f.submit 'Wyślij', class: 'btn btn-primary'
