.container
  %p#notice= notice

  %p
    %strong Nazwa:
    = @product.name
  %p
    %strong Kategoria:
    = @product.category.name
  - @product.product_values.each do |pv|
    %p
      %strong= pv.parameter.name + ': '
      = pv.value
  = link_to 'Edytuj', edit_product_path(@product), class: 'btn btn-warning'
  = link_to 'Powrót', :back, class: 'btn btn-secondary'
