%p#notice= notice
%h1 Parameters
%table
  %thead
    %tr
      %th Name
      %th Data type
      %th Options
      %th{:colspan => "3"}
  %tbody
    - @parameters.each do |parameter|
      %tr
        %td= parameter.name
        %td= parameter.data_type
        %td= parameter.options
        %td= link_to 'Show', parameter
        %td= link_to 'Edit', edit_parameter_path(parameter)
        %td= link_to 'Destroy', parameter, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Parameter', new_parameter_path
