%p#notice= notice
%p
  %strong Name:
  = @parameter.name
%p
  %strong Data type:
  = @parameter.data_type
%p
  %strong Options:
  = @parameter.options
= link_to 'Edit', edit_parameter_path(@parameter)
|
= link_to 'Back', parameters_path
